**/*.cache
**/*.datasource
**/Thumbs.db
**/*.csproj.user
**/*.config.log
**/*.rar
**/*.log
**/*.tss
**/*.pubxml.user

**/packages/*
**/obj/*
**/bin/*
**/.vs/*
**/Output/**
**/Logs/**
Publish/**

!/Lib/bin
!/Lib/bin/*

.localhistory/*